header { 
    min-height: 100vh;
    background: 
        url("../../assets/hero.png") no-repeat,
        url("../../assets/artsync.png") no-repeat;

    background-color: black;
    background-size: 80%, auto;
    background-position: center;
    

}


header .wrapper{
    position: relative;
    height: 100vh;
}

header .cta{
    position: absolute;
    bottom: 0;
    right:0;
    
}

header {
    background-size: 70%, auto; /* Adjust the size of the second layer (artsync image) */
}
